/* css styles */
/* open-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* open-sans-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (max-width: 991.98px) {
    div.quarto-about-solana .about-entity {
        flex-direction: column-reverse;
        align-items: center;
        text-align: left;
    }
    table {
	font-size: 0.8em;
    }
}

em, code, strong {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;	
}

em {
    color: #b129cc;
}

strong em {
    color: #606060;
    font-weight: normal;
    background-color: #eeeeee;
    border-radius: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    
}

strong, a {
    color: #2996cc;
}

code {
    color: #cc7b29;
}

dt {
    font-weight: normal;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    filter: hue-rotate(310deg);
    font-weight: bold;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .quarto-listing-category .category.active {
    font-weight: bold !important;
    color: #cc7b29;
}
