em, code, strong, del {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

em {
    color: #606060;
}

code {
    color: #606060;
    font-weight: normal;
    background-color: #eeeeee !important;
    border-radius: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    
}

dt {
    font-weight: normal;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    filter: hue-rotate(310deg);
    font-weight: bold;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .quarto-listing-category .category.active {
    font-weight: bold !important;
    color: #cc7b29;
}

